@media(max-width:768px)and (min-width:480px){

.card-subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem;
}
.info-container{
    display: flex;
    flex-direction: column;
}
.info{
    text-align: center;
}
}
@media(max-width:480px){
.card-subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem; 
}
.info-container{
    display: flex;
    flex-direction: column;
}
.info{
    text-align: center;
}
}